.ambulance {
    /* background: url("ambulance.jpg"); */
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 100%;
    position: absolute;
    animation: ambulance 4s linear infinite;
}

.AmbulanceCar {
    /*background-image: url('/img/ambulance_image/ambulance.jpg');*/
    background-position: center;
    width: 100%;
    height: 100%;
    position: absolute;
    animation: mymove 4s infinite;
    background-size: cover;
    animation-delay: 2s;
    animation-timing-function: ease-in-out;
    position: fixed;
    z-index: 1;
}

.outCircle {
    background-color: transparent;
    opacity: .9;
    /*  margin-left: 2px;
    margin-bottom: 100px;*/
    -webkit-animation: spinoffPulse 18s infinite linear;
}

img {
    vertical-align: middle;
    border-style: none;
}

@keyframes mymove {
    from {
        right: -1px;
    }
    to {
        right: 0px;
    }
}

.rotate-img img {
    width: 22%;
    margin-left: 41%;
    margin-top: 15%;
}

.image-two img {
    margin-left: 38%;
    width: 28%;
    margin-top: -25%;
}

.image-one img {
    margin-top: -23%;
    width: 24%;
    margin-left: 40%;
}

.image-three img {
    margin-left: 40%;
    margin-top: -23%;
    width: 24%;
}

@-webkit-keyframes spin {
    100% {
        -webkit-transform: rotate(360deg);
    }
}

@-moz-keyframes spin {
    100% {
        -webkit-transform: rotate(360deg);
    }
}

@keyframes spin {
    100% {
        -webkit-transform: rotate(360deg);
    }
}

.rotate-one {
    animation: spin 1s linear infinite;
    position: absolute;
    border: 4px solid blue;
    border-radius: 50%;
}

.rotate-two {
    animation: spin 1s linear infinite;
    position: absolute;
    border: 4px solid red;
    border-radius: 50%;
}

.rotate-three {
    animation: spin 1s linear infinite;
    position: absolute;
}

.bookBtn {
    width: 20%;
    margin-top: 4%;
    margin-left: 42%;
    border-radius: 50px;
}

@media screen and (max-width: 360px) {
    .outCircle {
        margin-top: 65% !important;
    }
    .image-two img {
        margin-left: 32% !important;
        width: 54% !important;
        margin-top: -26% !important;
    }
    .image-three img {
        margin-left: 33% !important;
        margin-top: -25% !important;
        width: 46% !important;
    }
    .image-one img {
        margin-top: -88px !important;
        width: 50% !important;
        margin-left: 34% !important;
    }
    .rotate-img img {
        width: 40% !important;
        margin-left: 30% !important;
        margin-bottom: -20% !important;
    }
    .bookBtn {
        margin-top: 25% !important;
        margin-left: 38%;
    }
    .outCircle {
        position: absolute;
        top: 15%;
        left: 50%;
        width: 30em;
        margin-left: -15em;
    }
}

@media only screen and (max-width: 414px) and (min-width: 360px) {
    .outCircle {
        margin-top: 40% !important;
    }
    .rotate-one {
        animation: spin 1s linear infinite;
        position: fixed;
        border: 4px solid blue;
        border-radius: 50%;
    }
    .rotate-two {
        animation: spin 1s linear infinite;
        position: fixed;
        border: 4px solid red;
        border-radius: 50%;
    }
    .rotate-three {
        animation: spin 1s linear infinite;
        position: fixed;
    }
}

@media screen and (max-width: 720px) {
    .outCircle {
        margin-top: 40% !important;
    }
    .rotate-one {
        animation: spin 1s linear infinite;
        position: fixed;
        border: 4px solid blue;
        border-radius: 50%;
    }
    .rotate-two {
        animation: spin 1s linear infinite;
        position: fixed;
        border: 4px solid red;
        border-radius: 50%;
    }
    .rotate-three {
        animation: spin 1s linear infinite;
        position: fixed;
    }
}